@font-face {
  font-family: "THSarabunNewRegular";
  src: url("../fonts/thsarabunnew/thsarabunnew.woff2") format("woff2"), url("../fonts/thsarabunnew/thsarabunnew.woff") format("woff"), url("../fonts/thsarabunnew/thsarabunnew.ttf") format("truetype");
}
input{
	font-size: 16px !important;
	color: #1CAB9F;
	text-shadow: 1px 1px 1px #8AA7A5;
}
body
{   
	margin:0;
	padding:0;
	font-family: THSarabunNewRegular;
    font-size: 16px;
	background: -webkit-linear-gradient(#53C3BA, white); <!-- #93B874 =green #8bb5e9 =blue , #C9DCB9 , #eeeeff--> 
	background: -o-linear-gradient(#53C3BA, white); 
	background: -moz-linear-gradient(#53C3BA, white); 
	background: linear-gradient(#53C3BA, white); 
	background-repeat: no-repeat;
}

input[type=file]::file-selector-button{
	font-family: THSarabunNewRegular; 
	color: #1CAB9F;
	text-shadow: 1px 1px 1px #8AA7A5;
}
/*
input[type=file]::file-selector-button{
	font-family: THSarabunNewRegular !important; 
	
}*/

.box
{
	padding:5px;
	background-color:#fff;
	border:3px solid #ccc;
	border-radius:5px;
	margin-top:25px;
}
.dt-buttons {
	float: right !important;
}
.gradiant-bgb {
	background-image: linear-gradient(#dcefef, white);
}

h2 {
	color: #1CAB9F;
	text-shadow: 2px 1px 2px #8AA7A5;
}

h3 {
	color: #1CAB9F;
	text-shadow: 3px 2px 3px #8AA7A5;
}
h4 {
	color: #1CAB9F;
	text-shadow: 1px 1px 1px #8AA7A5;
}
th {
	font-family: THSarabunNewRegular; 
	font-size: 18px !important;
	color: #020B0B;
	text-shadow: 2px 1px 2px #8AA7A5;
}

input.datepicker[readonly] {
  background-color: white;
  cursor: pointer;
}

fieldset.news {
  min-width: 0;
  padding: 10px;
  margin: 0;
  border: 1px solid;
  border-radius: 5px;
}

fieldset.news legend {
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: bolder;
}

.limit-stirng span {
  vertical-align: top;
  display: inline-block;
  width: 360px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.text-header {
  font-weight: 700;
}

.road a {
  font-size: 16px !important;
}

.road a b {
  cursor: context-menu;
  color: #515963;
}

.old-link {
  color: #585858 !important;
}

.road i {
  font-size: 20px!important;
  /* font-weight: 500!important; */
  margin-bottom: 4px!important;
  margin-left: 5px!important;
}

footer {
  background-color: #e9ecef;
}

.card {
  margin-bottom: 0px !important;
}

a.signout {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 16px;
  font-weight: 700;
  color: white;
  background-color: #ff00009c;
  padding: 0px 10px 0px 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-decoration: none;
}

a.signout:hover {
  padding: 5px 10px 0px 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: THSarabunNewRegular;
}

span:not(.glyphicon):not(.input-group-addon), div:not(.gm-style), td, tr, th, a, p, li, select, input, textarea {
  font-family: THSarabunNewRegular !important;
  font-size: 16px;
}

/*-----------------
	3. Bootstrap Classes
-----------------------*/

.btn.focus, .btn:focus {
  box-shadow: unset;
}

.btn-white {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #272b41;
}

.btn.btn-rounded {
  border-radius: 50px;
}

.bg-primary, .badge-primary {
  background-color: #34a1e4 !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #34a1e4 !important;
}

.bg-success, .badge-success {
  background-color: #3f9d10 !important;
}

a.bg-success:focus, a.bg-success:hover, button.bg-success:focus, button.bg-success:hover {
  background-color: #00cc52 !important;
}

.bg-info, .badge-info {
  background-color: #009efb !important;
}

a.bg-info:focus, a.bg-info:hover, button.bg-info:focus, button.bg-info:hover {
  background-color: #028ee1 !important;
}

.bg-warning, .badge-warning {
  background-color: #ffbc34 !important;
}

a.bg-warning:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
  background-color: #e9ab2e !important;
}

.bg-danger, .badge-danger {
  background-color: #ff0100 !important;
}

a.bg-danger:focus, a.bg-danger:hover, button.bg-danger:focus, button.bg-danger:hover {
  background-color: #e63333 !important;
}

.bg-white {
  background-color: #fff;
}

.bg-purple, .badge-purple {
  background-color: #9368e9 !important;
}

.text-primary, .dropdown-menu>li>a.text-primary {
  color: #34a1e4 !important;
}

.text-success, .dropdown-menu>li>a.text-success {
  color: #00cc52 !important;
}

.text-danger, .dropdown-menu>li>a.text-danger {
  color: #ff0100 !important;
}

.text-info, .dropdown-menu>li>a.text-info {
  color: #009efb !important;
}

.text-warning, .dropdown-menu>li>a.text-warning {
  color: #ffbc34 !important;
}

.text-purple, .dropdown-menu>li>a.text-purple {
  color: #7460ee !important;
}

.text-muted {
  color: #757575 !important;
}

.btn-primary {
  background-color: #34a1e4;
  border: 1px solid #34a1e4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  background-color: #34a1e4;
  border: 1px solid #34a1e4;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: #34a1e4;
  border: 1px solid #34a1e4;
}

.btn-primary.active:not(:disabled):not(.disabled), .btn-primary:active:not(:disabled):not(.disabled), .show>.btn-primary.dropdown-toggle {
  background-color: #34a1e4;
  border-color: #34a1e4;
  color: #fff;
}

.btn-primary.active:focus:not(:disabled):not(.disabled), .btn-primary:active:focus:not(:disabled):not(.disabled), .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #34a1e4;
  border-color: #34a1e4;
  color: #fff;
}

.btn-secondary.active:focus:not(:disabled):not(.disabled), .btn-secondary:active:focus:not(:disabled):not(.disabled), .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-success {
  background-color: #3f9d10;
  border: 1px solid #3f9d10;
}

.btn-success:hover, .btn-success:focus, .btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
  background-color: #00cc52;
  border: 1px solid #00cc52;
  color: #fff;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
  background-color: #00cc52;
  border: 1px solid #00cc52;
}

.btn-success.active:not(:disabled):not(.disabled), .btn-success:active:not(:disabled):not(.disabled), .show>.btn-success.dropdown-toggle {
  background-color: #00cc52;
  border-color: #00cc52;
  color: #fff;
}

.btn-success.active:focus:not(:disabled):not(.disabled), .btn-success:active:focus:not(:disabled):not(.disabled), .show>.btn-success.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #3f9d10;
  border-color: #3f9d10;
  color: #fff;
}

.btn-info {
  background-color: #009efb;
  border: 1px solid #009efb;
}

.btn-info:hover, .btn-info:focus, .btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info.focus:active, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}

.btn-info.active:not(:disabled):not(.disabled), .btn-info:active:not(:disabled):not(.disabled), .show>.btn-info.dropdown-toggle {
  background-color: #028ee1;
  border-color: #028ee1;
  color: #fff;
}

.btn-info.active:focus:not(:disabled):not(.disabled), .btn-info:active:focus:not(:disabled):not(.disabled), .show>.btn-info.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-info.disabled, .btn-info:disabled {
  background-color: #009efb;
  border-color: #009efb;
  color: #fff;
}

.btn-warning {
  background-color: #ffbc34;
  border: 1px solid #ffbc34;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}

.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning.focus:active, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}

.btn-warning.active:not(:disabled):not(.disabled), .btn-warning:active:not(:disabled):not(.disabled), .show>.btn-warning.dropdown-toggle {
  background-color: #e9ab2e;
  border-color: #e9ab2e;
  color: #fff;
}

.btn-warning.active:focus:not(:disabled):not(.disabled), .btn-warning:active:focus:not(:disabled):not(.disabled), .show>.btn-warning.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-warning.disabled, .btn-warning:disabled {
  background-color: #ffbc34;
  border-color: #ffbc34;
  color: #fff;
}

.btn-danger {
  background-color: #ff0100;
  border: 1px solid #ff0100;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
  background-color: #e63333;
  border: 1px solid #e63333;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger.focus:active, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
  background-color: #e63333;
  border: 1px solid #e63333;
}

.btn-danger.active:not(:disabled):not(.disabled), .btn-danger:active:not(:disabled):not(.disabled), .show>.btn-danger.dropdown-toggle {
  background-color: #e63333;
  border-color: #e63333;
  color: #fff;
}

.btn-danger.active:focus:not(:disabled):not(.disabled), .btn-danger:active:focus:not(:disabled):not(.disabled), .show>.btn-danger.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-danger.disabled, .btn-danger:disabled {
  background-color: #f62d51;
  border-color: #f62d51;
  color: #fff;
}

.btn-light.active:focus:not(:disabled):not(.disabled), .btn-light:active:focus:not(:disabled):not(.disabled), .show>.btn-light.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-dark.active:focus:not(:disabled):not(.disabled), .btn-dark:active:focus:not(:disabled):not(.disabled), .show>.btn-dark.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-outline-primary {
  color: #34a1e4;
  border-color: #34a1e4;
}

.btn-outline-primary:hover {
  background-color: #34a1e4;
  border-color: #34a1e4;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: none;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #34a1e4;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
  background-color: #34a1e4;
  border-color: #34a1e4;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-success {
  color: #3f9d10;
  border-color: #3f9d10;
}

.btn-outline-success:hover {
  background-color: #3f9d10;
  border-color: #3f9d10;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: none;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #3f9d10;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show>.btn-outline-success.dropdown-toggle {
  background-color: #3f9d10;
  border-color: #3f9d10;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-info {
  color: #009efb;
  border-color: #009efb;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #009efb;
  border-color: #009efb;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: none;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  background-color: transparent;
  color: #009efb;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show>.btn-outline-info.dropdown-toggle {
  background-color: #009efb;
  border-color: #009efb;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-warning {
  color: #ffbc34;
  border-color: #ffbc34;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #ffbc34;
  border-color: #ffbc34;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: none;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  background-color: transparent;
  color: #ffbc34;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show>.btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffbc34;
  border-color: #ffbc34;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-warning.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-danger {
  color: #ff0100;
  border-color: #ff0100;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff0100;
  border-color: #ff0100;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: none;
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  background-color: transparent;
  color: #ff0100;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show>.btn-outline-danger.dropdown-toggle {
  background-color: #ff0100;
  border-color: #ff0100;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-light {
  color: #ababab;
  border-color: #e6e6e6;
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #ababab;
}

.add-btn {
  max-width: 140px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #20c0f3;
  border-color: #20c0f3;
}

.pagination>li>a, .pagination>li>span {
  color: #20c0f3;
}

.page-link:hover {
  color: #20c0f3;
}

.page-link:focus {
  box-shadow: unset;
}

.page-item.active .page-link {
  background-color: #20c0f3;
  border-color: #20c0f3;
}

.dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: inherit;
  font-size: 16px;
  transform-origin: left top 0;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #0de0fe;
}

.navbar-nav .open .dropdown-menu {
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card {
  border: 1px solid #f0f0f0;
  margin-bottom: 1.875rem;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  margin-bottom: 15px;
}

.card-header {
  border-bottom: 1px solid #f0f0f0;
  padding: 1rem 1.5rem;
}

.card-footer {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
  padding: 1rem 1.5rem;
}

.card .card-header {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.card .card-header .card-title {
  margin-bottom: 0;
}

.btn-light {
  border-color: #e6e6e6;
  color: #a6a6a6;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #20c0f3;
  text-shadow: unset;
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #20c0f3;
}

.bg-info-light {
  background-color: rgba(2, 182, 179, 0.12) !important;
  color: #1db9aa !important;
}

.bg-primary-light {
  background-color: rgba(17, 148, 247, 0.12) !important;
  color: #2196f3 !important;
}

.bg-danger-light {
  background-color: rgba(242, 17, 54, 0.12) !important;
  color: #e63c3c !important;
}

.bg-warning-light {
  background-color: rgba(255, 152, 0, 0.12) !important;
  color: #f39c12 !important;
}

.bg-success-light {
  background-color: rgba(15, 183, 107, 0.12) !important;
  color: #26af48 !important;
}

.bg-purple-light {
  background-color: rgba(197, 128, 255, 0.12) !important;
  color: #c580ff !important;
}

.bg-default-light {
  background-color: rgba(40, 52, 71, 0.12) !important;
  color: #283447 !important;
}

.text-xs {
  font-size: 0.75rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-lg {
  font-size: 1.25rem !important;
}

.text-xl {
  font-size: 1.5rem !important;
}

.form-control:focus {
  border-color: #bbb;
  box-shadow: none;
  outline: 0 none;
}

.form-group {
  margin-bottom: 1.25rem;
}

.slider-btn {
  background: #34a1e4;
  color: #fff;
  border: 1px solid #34a1e4;
  padding: 8px 16px !important;
  transition: 0.5s;
}

.slider-btn:hover {
  background: #fff;
  color: #34a1e4;
  border: 1px solid #fff;
  padding: 8px 16px !important;
}

.slider-btn-1 {
  color: #fff;
  border: 1px solid #0d2b77;
  background: #2e3842;
  padding: 8px 16px !important;
  transition: 0.5s;
}

.slider-btn-1:hover {
  color: #2e3842;
  border: 1px solid #fff;
  background: #fff;
  padding: 8px 16px !important;
}